<ion-header>
  <ion-toolbar>
    <ion-title>Chat-Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<!--  -->
<ion-content class="content-stable">

<div ng-repeat="message in messages" 
  ng-class="{other: message.userId != myId}" class="messages">
  <div class="message" 
    ng-class="{'slide-right': hideTime, '': !hideTime}">
    <!-- <span>{{cargarMsg()}}</span>-->
    <span>{{message}}</span> 
  </div>

  <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">
    {{message}}
  </div>
</div>

</ion-content>
<!-- --- -->
<ion-footer>
  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="mensaje" 
    [(ngModel)]="message"></ion-input>
    <ion-button type="button"(click)="enviarMessage()">Enviar</ion-button>
  </ion-item>  
</ion-footer>
